<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of Sulu Megamenu Bundle.
  ~
  ~ (c) The Cocktail Expericence S.L.
  ~
  ~  This source file is subject to the MIT license that is bundled
  ~  with this source code in the file LICENSE.
  -->

<!--
  ~ /*
  ~  * This file is part of Sulu Megamenu Bundle.
  ~  *
  ~  * (c) The Cocktail Expericence S.L.
  ~  *
  ~  * This source file is subject to the MIT license that is bundled
  ~  * with this source code in the file LICENSE.
  ~  */
  -->

<phpunit colors="true">
    <testsuites>
        <testsuite name="Sulu University Bundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>
